table, th, td, tr {
	border: 1px solid black !important;
}

.leagueTable {
	margin-top: 2.5%;
	font-family: fira;
	font-size: 18px;	
}

.leagueName {
	background-color: #000000;
	color: #FFFFFF;
	font-weight: normal !important;
}

.leagueTableHeader {
	background-color: #37B34A;
	color: #000000;
	font-weight: normal !important;
}

.leagueTableHeaderCell {
	text-align: center;
}

.leagueTableTeam {
	color: #000000;
}

.teamPosition {
	background-color: #37B34A;
	text-align: center;
}

.feature-photo {
	margin-top: 5%;
}

@media screen and (max-width: 480px) {
  	.leagueTable {
  		font-size: 12px;
	}
}